body{
   margin-top:2%;
    font-size:large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left:2%;
    margin-right:2%;}
img{
    width:auto;
    border-radius:50%;
}
.tdtop{
   background-color: aqua;
   border-radius:15px;
   vertical-align:top;
}
td{
   vertical-align: text-top;
}
button{
   width:auto;
   height:60px;
}
a{
   font-size:large;
   text-decoration: none;
}
a:hover{
   color:red;    
}
.direita{
   margin-left:600px;
}
.esquerda{
   width: auto;
}
.top{
   margin-top:-2%;
   width:auto;
   border-radius:15px;
}
.apresentação{
   width:370px;
   height:300px;
   border-top-left-radius:20px;
   border-top-right-radius:20px;
   border-bottom-left-radius:0%;
   border-bottom-right-radius:0%;
}
summary{
   color: blue;
   background-color: antiquewhite;
   border-radius:10px;
}
.btn1{
   width:auto;
}
div{
   text-align: center;
}

