.td1{
    vertical-align: top;
}
.detalhes{
    background-color:white;
    color: black;
    width:50%;
}
.apresentação{
    max-width:440px;
    height:300px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:0%;
    border-bottom-right-radius:0%;
}
.a1{
    color: black;
    font-size: x-large;
}
.a1:hover{
    color:black;
}

a{
    color:blueviolet;
    font-size: large;
    text-decoration:transparent;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
    color:red;    
}
.cabeçalho{
    background-color:aqua;
    color: black;
    width:100%;
    height:230px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
img{border-radius:90px;}
body{
    background-color:white;
    color:black;
    font-family: Verdana;
    font-size: x-large;
    max-width:1250px;
}
.navegação{
    text-align:center;
}
button{
    font-size: x-large;
    border-radius:0px;
    width:100%;
    text-align:left;
    border-radius:15px;
    }
button:hover{
    background-color: blue;
    border:solid;
    border-color: black;
    }
.btn1{
    font-size: x-large;
    border-top-left-radius:20px;
}
.btn2{
    font-size: x-large;
    border-top-right-radius:20px;
}
div{
    background-color: blue;
    color: aliceblue;
}
.linha{
    height:400px;
}